@using HoneyBees.Models
@model PagesList

<div class="col-md-4">

    <h2>In total: @Model.TotalResultCount hit(s)</h2>
    <ol class="media-list">
        @foreach (PageDetails pageDetail in Model.Pages)
        {
            <li class="media">
                <div class="media-heading"><a href="@pageDetail.Url">@pageDetail.Title</a></div>
            </li>
        }
    </ol>
</div>