@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="col-md-4">
    <h2>@Html.Sitecore().Field("title")</h2>
    <p>@Html.Sitecore().Field("text")</p>
    <span>@Html.Sitecore().Field("image", new { mw = 100 })</span>

</div>