@model IEnumerable<mvctest.Models.NavigationItem>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        @foreach (var item in Model)
        {
            <li class="@(@item.ActiveItem ? "active" : null)"><a href="@item.Url">@item.Title</a></li>
        }
    </ul>
</div>

   